<% content_for :page_title, "Check what ID is needed at interview" %>
<% content_for :header_class, "with-proposition" %>
<% content_for :proposition_header do %>
<% content_for :javascript_includes do %>

<% content_for :head do %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<% end %> 



<% end %>

<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">Civil Service Jobs</a>
    </nav>
  </div>
</div>

<% end %>

<main id="content" role="main">
<div id="page-container">
<div class="phase-banner">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a prototype.</span>
  </p>
</div>
	<div class="grid-row">
	<div class="column-two-thirds">
   <h1 class="heading-xlarge">Accepted documents</h1>
  
  <div class="show">
    <h2 class="heading-large">Important</h2>
<p>We cannot limit the information on this page to show you the relevant content only as your browser doesn't use JavaScript.</p>
<p>This page therefore will show you information relevant to all nationality types.</p>
  </div>
</div>
  <div class="column-two-thirds banner hide">
    <h2 class="heading-medium">Your information</h2>
    <p class="">You have indicated that your:</p>
    <ol class="list list-bullet">
      <li class="li--1">a UK National</li>
      <li class="li--2">applying for a job with the Home Office</li>
    </ol>
    <p><a href="/">Change your details</a></p>
  </div>
    <div class="column-two-thirds">
    <div class="doc--heading">
      <h2 class="heading-large">You must bring 3 documents</h2>
      </div>
  <div class="ho hide">
    <ul class="list list-bullet">
      <li>A current passport</li>
      <li>A document from group 2</li>
      <li>An additional document from group 1, 2 or 3</li>
    </ul>
  </div>
  <div class="no--ho">
    <ul class="list list-bullet">
      <li>A document from group 1</li>
      <li>A document from group 2</li>
      <li>Additional document from group 1, 2 or 3</li>
    </ul>
  </div>
  <div class="panel panel-border-wide originals">
          <p>Only original documents will be accepted, photocopies will not be accepted.</p>
      </div>
  <div class="show">
    If you're apply for a job in the Home Office you must bring a current passport to your interview.
  </div>

    </div>
    <div class="section--1">
    <div class="column-two-thirds">
    <div class="show">
    <h3 class="heading-medium">UK National</h3>
    <p>You should refer to the below table if you're a UK national.</p>
    </div>
        <table>
          <thead>
            <tr>
              <th>Group 1</th>
              <th>Group 2</th>
              <th>Group 3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Current British Passport</td>
              <td>Bank, building society or credit card statement (issued in the last 3 months)</td>
              <td>Current driving licence</td>
            </tr>
            <tr>
              <td>Full UK Birth or Adoption Certificate</td>
              <td>Utility bill (issued in the last 3 months)</td>
              <td>Short UK Birth Certificate</td>
            </tr>
            <tr>
              <td>Certificates of Registration or Naturalisation as a British Citizen</td>
              <td>National Insurance Number letter issued by Government Department</td>
              <td>Marriage certificate</td>
            </tr>
            <tr>
              <td></td>
              <td>Current evidence of entitlement to DWP benefits (issued within the last 3 months)</td>
              <td>Civil Partnership certificate</td>
            </tr>
            <tr>
              <td></td>
              <td>Council Tax statement (issued within the last 3 months)</td>
              <td>HM Forces identity card</td>
            </tr>
            <tr>
              <td></td>
              <td>Mortgage Statement</td>
              <td></td>
            </tr>
          </tbody>
        </table>

    </div>
    </div>
    <div class="section--2">
    <div class="column-two-thirds">
    <div class="show">
    <h3 class="heading-medium">European Economic Area or Swiss National</h3>
    <p>You should refer to the below table if you're a European Economic Area or Swiss National.</p>
    </div>
        <table>
          <thead>
            <tr>
              <th>Group 1</th>
              <th>Group 2</th>
              <th>Group 3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Current EEA or Swiss Passport</td>
              <td>Bank, building society or credit card statement (issued within the last 3 months)</td>
              <td>Current driving licence</td>
            </tr>
            <tr>
              <td>Registration Certificate or Document Certifying Permanent Residence issued by Home Office</td>
              <td>Utility bill (issued within the last 3 months)</td>
              <td>Marriage certificate</td>
            </tr>
            <tr>
              <td></td>
              <td>National Insurance Number letter issued by Government Department</td>
              <td>Civil Partnership certificate</td>
            </tr>
            <tr>
              <td></td>
              <td>Current evidence of entitlement to DWP benefits (issued within the last 3 months)</td>
              <td>HM Forces identity card</td>
            </tr>
            <tr>
              <td></td>
              <td>Council Tax statement (issued within the last 3 months)</td>
              <td>EU National Identity Card</td>
            </tr>
            <tr>
              <td></td>
              <td>Mortgage Statement</td>
              <td></td>
            </tr>
          </tbody>
        </table>

    </div>
    </div>
    <div class="section--3">
    <div class="column-two-thirds">
    <div class="show">
    <h3 class="heading-medium">Other eligible citizens</h3>
    <p>You should refer to the below table if you're a:</p>
    <ul class="list-bullet">
      <li>Common Wealth Citizen</li>
      <li>British Protected Citizen</li>
      <li>Qualify Turkish National</li>
    </ul>
    
    <p>Or if you're a familly member of a:</p>
    <ul class="list-bullet">
      <li>UK National</li>
      <li>European Economic Area National</li>
      <li>Swiss National</li>
      <li>Qualifying Turkish National</li>
    </ul>
    </div>
        <table>
          <thead>
            <tr>
              <th>Group 1</th>
              <th>Group 2</th>
              <th>Group 3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Current Passport from country of nationality</td>
              <td>Bank, building society or credit card statement (issued within the last 3 months)</td>
              <td>Current driving licence</td>
            </tr>
            <tr>
              <td>Biometric Residence Permit Card</td>
              <td>Utility bill (issued within the last 3 months)</td>
              <td>Marriage certificate</td>
            </tr>
            <tr>
              <td></td>
              <td>National Insurance Number letter issued by Government Department</td>
              <td>Civil Partnership certificate</td>
            </tr>
            <tr>
              <td></td>
              <td>Current evidence of entitlement to DWP benefits (issued within the last 3 months)</td>
              <td>HM Forces identity card</td>
            </tr>
            <tr>
              <td></td>
              <td>Council Tax statement (issued within the last 3 months)</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>Mortgage Statement</td>
              <td></td>
            </tr>
          </tbody>
        </table>

    </div>
    
    </div>
    <div class="column-two-thirds photo--id">
        <h3 class="heading-medium">Photographic ID</h3>
        <p>If none of the documents include a photo of yourself, you must bring a passport sized picture with you to interview.</p>
        <p>This picture must be endorsed on the back, with the signature of a person of standing in your community. For example a GP, medical practioner, teacher, civil servant, bank manager, lawyer, officer of the armed forces or lecturer.</p>
    </div>
    <div class="column-two-thirds show other">
      <h2 class="heading-medium">Other nationality</h2>
      <p>Email us with details at <a href="mailto:specialist.recruitment@csresourcing.gsi.gov.uk">specialist.recruitment@csresourcing.gsi.gov.uk</a>.</p>
    </div>
	</div>	
</div>
</main>
<script type="text/javascript">

$( document ).ready( function() {
  if (ho === "no") {
  $('.ho').hide();
  $('.li--2').text("not applying for a job in the Home Office");
  }
  else if (ho === "yes") {
  $('.no--ho').hide();
  }
  else {
    window.location.replace("/");
  };

  if (nat === "1") {
  $('.section--2, .section--3').hide();
}
else if (nat === "2") {
  $('.section--1, .section--3').hide();
  $('.li--1').text("a European Economic Area or Swiss National");
}
else if (nat === "3") {
  $('.section--1, .section--2').hide();
  $('.li--1').text("a Commonwealth Citizen or British Protected Person");
}
else if (nat === "4") {
  $('.section--1, .section--2').hide();
  $('.li--1').text("a Qualifying Turkish National");
}
else if(nat === "5") {
  $('.section--1, .section--2').hide();
  $('.li--1').text("a family member of a UK, EEA, Swiss or Qualifying Turkish National");
}
else if(nat === "6") {
  $('.hide, .photo--id, .section--1, .section--2, .section--3, .ho, .no--ho, .originals, .doc--heading').hide();
  $('.other').show();
  $('.heading-xlarge').html('Nationality not listed');
}
else {
  window.location.replace("/");
};

})
</script>