<% content_for :page_title, "Check what ID is needed at interview" %>
<% content_for :header_class, "with-proposition" %>
<% content_for :proposition_header do %>

<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">Civil Service Jobs</a>
    </nav>
  </div>
</div>

<% end %>

<main id="content" role="main">
<div id="page-container">
	<div class="grid-row">
	<div class="column-two-thirds">
  <h1 class="heading-xlarge">Your results</h1>
	<h2 class="heading-large">You need to bring</h2>
  <div id="ho">
    <ul class="list list-bullet">
      <li>A current passport</li>
      <li>A document from group 2</li>
      <li>Additional document from group 1, 2 or 3</li>
    </ul>
  </div>
  <div id="no--ho">
    <ul class="list list-bullet">
      <li>A document from group 1</li>
      <li>A document from group 2</li>
      <li>Additional document from group 1, 2 or 3</li>
    </ul>
  </div>
  <h3 class="heading-medium">Photographic ID</h3>
  <p>If none of the documents include a photo of yourself, you must bring a passport sized picture with you to interview.</p>
  <p>This picture must be endorsed on the back, with the signature of a person of standing in your community. For example a GP, medical practioner, teacher, civil servant, bank manager, lawyer, officer of the armed forces, lecturer.</p>
	</div>
    <div class="column-two-thirds">
      <h2 class="heading-large">Accepted documents</h2>

      <div class="panel panel-border-wide">
          <p>Only original documents will be accepted, photocopies will not be accepted.</p>
      </div>
 
    </div>
    <div class="section--1">
    <div class="column-two-thirds">
        <table>
          <thead>
            <tr>
              <th>Group 1</th>
              <th>Group 2</th>
              <th>Group 3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Current British Passport</td>
              <td>Bank, building society or credit card statement</td>
              <td>Current driving licence</td>
            </tr>
            <tr>
              <td>Full UK Birth or Adoption Certificate</td>
              <td>Utility bill</td>
              <td>Short UK Birth Certificate</td>
            </tr>
            <tr>
              <td>Certificates of Registration or Naturalisation as a British Citizen</td>
              <td>National Insurance Number letter issued by Government Department</td>
              <td>Marriage certificate</td>
            </tr>
            <tr>
              <td></td>
              <td>Current evidence of entitlement to DWP benefits</td>
              <td>Civil Partnership certificate</td>
            </tr>
            <tr>
              <td></td>
              <td>Council Tax statement</td>
              <td>HM Forces identity card</td>
            </tr>
            <tr>
              <td></td>
              <td>Mortgage Statement</td>
              <td></td>
            </tr>
          </tbody>
        </table>

    </div>
    </div>
    <div class="section--2">
    <div class="column-two-thirds">
        <table>
          <thead>
            <tr>
              <th>Group 1</th>
              <th>Group 2</th>
              <th>Group 3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Current EEA or Swiss Passport</td>
              <td>Bank, building society or credit card statement</td>
              <td>Current driving licence</td>
            </tr>
            <tr>
              <td>Registration Certificate or Document Certifying Permanent Residence issued by Home Office</td>
              <td>Utility bill</td>
              <td>Marriage certificate</td>
            </tr>
            <tr>
              <td></td>
              <td>National Insurance Number letter issued by Government Department</td>
              <td>Civil Partnership certificate</td>
            </tr>
            <tr>
              <td></td>
              <td>Current evidence of entitlement to DWP benefits</td>
              <td>HM Forces identity card</td>
            </tr>
            <tr>
              <td></td>
              <td>Council Tax statement</td>
              <td>EU National Identity Card</td>
            </tr>
            <tr>
              <td></td>
              <td>Mortgage Statement</td>
              <td></td>
            </tr>
          </tbody>
        </table>

    </div>
    </div>
    <div class="section--3">
    <div class="column-two-thirds">
        <table>
          <thead>
            <tr>
              <th>Group 1</th>
              <th>Group 2</th>
              <th>Group 3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Current Passport from country of nationality</td>
              <td>Bank, building society or credit card statement</td>
              <td>Current driving licence</td>
            </tr>
            <tr>
              <td>Biometric Residence Permit Card</td>
              <td>Utility bill</td>
              <td>Marriage certificate</td>
            </tr>
            <tr>
              <td></td>
              <td>National Insurance Number letter issued by Government Department</td>
              <td>Civil Partnership certificate</td>
            </tr>
            <tr>
              <td></td>
              <td>Current evidence of entitlement to DWP benefits</td>
              <td>HM Forces identity card</td>
            </tr>
            <tr>
              <td></td>
              <td>Council Tax statement</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>Mortgage Statement</td>
              <td></td>
            </tr>
          </tbody>
        </table>

    </div>
    </div>

	</div>	
</div>
</main>